/* styles */
section {
	.slick-dots{
		top: 100px; 
		li {
			margin: 0 -3px;
			height: 50%;
		}
	}
}
.slick-dots
{
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
	    position: relative;
	    display: inline-block;
	    width: 50px;
	    height: 50px;
	    margin: 0 5px;
	    padding: 0;
	    cursor: pointer;
	    button {
		    font-size: 0;
		    line-height: 0;
		    width: 35px;
		    height: 10px;
		    padding: 5px;
		    border-radius: 50px;
		    cursor: pointer;
		    border: 3px solid $color;
		    outline: none;
		    background: transparent;
		    &:hover, &:focus {
				outline: none;
				&:before {
					opacity: 1;
				}
		    }
		    &:before {
		    	line-height: 20px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 20px;
			    height: 20px;
			    content: ' ';
			    text-align: center;
			    opacity: .25;
			    color: black;

		    }
		}
		&.slick-active button:before {
			margin-left: 7.5px;
		    margin-top: 7px;
		    opacity: 1;
		    font-size: 0;
		    line-height: 0;
		    width: 35px;
		    height: 10px;
		    padding: 5px;
		    border-radius: 50px;
		    cursor: pointer;
		    border: 3px solid $color;
		    outline: none;
		    background-color: $color;
		}
	}
}

.typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
/* -----------  special CONTENT for lighten and radken fon-image ---------- */

@for $i from 1 through 5 {
	.element-#{$i}:before{
	  	content:'';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: rgba(255,255,255,0.5);
	    z-index: 1;
	}
}
/* -----------------------------------  modal ----------------------------- */
.modal-content{
	background-color: transparent;
	.background{
		background-color: transparent;
	}
}

.modal-header{
	background-color: $color-orange;
	.close{
		margin-top: 1vh;
	}
	h4{
		color: $color;
		font-size: 2.5em;
		font-weight: bolder;
		text-align: center;
	}
}
form.navbar-form{
	font-size: 1.5em;
	display: table;
	margin: $o auto;
	.input-group{
		.form-control{
			margin-bottom: 1%;
			font-size: 1.3em;
			text-align: center;
			height: 7vh;
			border-radius: 0;
			&:hover {
				border-color: $color-orange;
			}
			&:focus, :active {
				border-color: $color-orange;
			}
		}
	}
	.btn {
		font-size: 1.7em;
		background-color: $color-orange;
		margin-bottom: $o;
		min-width: 55%;
		&:hover{
			color: $color;
			border-color: $color;
			border-width: thin;
		}
		&:active, :focus{
			background-color: lighten($color-orange, 10%);
			border-color: $color;
			outline: none;
		}
	}
}
#btn-consultation{
	&:focus{
		color: $color;
		outline: none;
	}
}
.ui-datepicker-inline{
	margin: auto;
}
.ui-datepicker-inlin{
	margin: $o 0% $o 0%;
	color: $color-black;
}
.ui-datepicker-calendar{
	background-color: $color-orange;
	border-radius: 1%;
	thead {
		tr{
			th{
				span{

				}
			}
		}
	}
}
.ui-datepicker table{
	margin: 1% 0 .4em;
}
.alert{
	margin-bottom: $o;
	text-align: center;
}
.alert-success{
	margin-top: $o;
}
.ui-timepicker-container{
	left: 2%;
	/* margin-left: -13vh; */
}
.flex-container-social {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }
.flex-item-social{
	&:hover {
		opacity: 0.8;
		border: 3px solid white;
		cursor: pointer;
	}
}
.flex-item-social:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item-social:nth-child(2) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    }

.flex-item-social:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item-social:nth-child(4) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item-social:nth-child(5) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item-social:nth-child(6) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }