include modal/date
include modal/news
include modal/problemOfActivity
include modal/new_of_education
include modal/disscusChildHealth
include modal/InfoCenter
include modal/masterClass
include modal/conference
include modal/articles
include modal/presentations
include modal/social