//- first deco left side
mixin third-deco(start, delay)
	if start <= 3
		-var list = [0, 1, 2, 3]
	else
		if start <= 6
			-var list = [0, -1, -2, -3]
		else
			if start  <= 9
				-var list = [0, 1, 2, 3]
			else
				-var list = [0, -1, -2, -3]
	- var delay = delay
	li.grid__item(class='wow bounceInDown' data-wow-offset='-300' data-wow-delay=''+delay+'00ms')
		a.grid__link(href='#')
			each m in list
				- var n = start + m + '.jpg'
				img.grid__img.layer(src='assets/img/layer/'+n, alt='0'+n)

//- deco1 (section first)

mixin first-deco(start)
	- var path = start +'.png'
	- var layer = start + 15 + '.png'
	li.grid__item(class="wow bounceInDown" data-wow-delay="200ms")
		a.grid__link(href='#')
			.layer
			img.grid__img.layer(src='assets/img/deco/'+layer, alt='0'+layer)
			.layer
			img.grid__img.layer(src='assets/img/deco/'+path, alt='0'+path)

mixin second-deco(title, words, delay, start)
	- var path = start +'.png'
	li.grid__item(class="wow slideInRight" data-wow-delay=''+delay+'00ms')
		a.grid__link(href='#')
			.layer
			.layer
			.layer
				span.decoletter= title
				span.deconumber= words
			img.grid__img.layer(src='assets/img/education/'+path, alt='0'+path)

mixin sciense-deco(img, delay, url)
	- var layer = img + 15
	li.grid__item(class="wow slideInLeft" data-wow-delay=''+delay+'00ms')
		a.grid__link(href=''+url)
			.layer
			img.grid__img.layer(src='assets/img/sciense/'+layer+'.png', alt='0'+layer)
			.layer
			img.grid__img.layer(src='assets/img/sciense/'+img+'.png', alt='0'+img)
mixin slider-video(n)
	div(class="item-video important")
		video(src="assets/video/"+n+".mp4")
