/* var and mixins */
$color: #FFF

$ip: -light
$if: -full
=links($link, $visit, $hover, $active)
	a
		color: $link
		&:visited
			color: $visit
		&:hover
			color: $hover
		&:active
			color: $active
=dn
	display: none
=df
	display: flex
=fww
	flex-wrap: wrap
=jcc
	justify-content: center
=fdc
	flex-direction: column
=tc
	text-align: center
=pr
	position: relative
=pa
	position: absolute
=tac
	text-align: center
=bi
	background-repeat: no-repeat
	background-size: cover
=button-call($w, $h, $c, $f)
	.button
		button 
			width: $w
			height: $h
			background-color: $color-green
			border-radius: 10px
			margin-bottom: 10px
			color: $c
			font-size: $f
			font-weight: bold
			border-width: 0px
			&:active
				border-width: 1px
				border-color: $color-green
@keyframes move
	from
		padding-right: 0px
			
	to
		padding-right: 200px

@keyframes color
	from
		color: blue
		padding-left: 0
	to
		color: white
		padding-left: 45%

@keyframes buttonOrder1
	from
		left: 35%
	to
		left: 17%
@keyframes buttonOrder2
	from
		left: 50%
	to
		left: 35%
@keyframes buttonOrder3
	from
		left: 50%
	to
		left: 50%
@keyframes buttonOrder4
	from
		left: 50%
	to
		left: 65%
@keyframes buttonOrder5
	from
		left: 65%
	to
		left: 82%

@keyframes buttonOrderBack1
	from
		left: 35%
	to
		left: 17%

@keyframes buttonOrderForw2
	from
		left: 17%
	to
		left: 35%

@keyframes buttonOrderBack2
	from
		left: 50%
			
	to
		left: 35%

@keyframes buttonOrderForw3
	from
		left: 35%
			
	to
		left: 50%

@keyframes buttonOrderBack3
	from
		left: 65%
			
	to
		left: 50%

@keyframes buttonOrderForw4
	from
		left: 50%
			
	to
		left: 65%

@keyframes buttonOrderBack4
	from
		left: 82%
			
	to
		left: 65%

@keyframes buttonOrderForw5
	from
		left: 65%
			
	to
		left: 82%