div(class="modal fade bs-disscusChildHealth-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
	div(class="modal-dialog modal-lg")
		div(class="modal-content")
			div(class="background")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
					h4(class="modal-title") 
				object(type="application/pdf" data="assets/pdf/discuss_of_children's_health.pdf" width="100%" height="500" style="height: 85vh;") No Support