div(class="modal fade bs-masterClass-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
	div(class="modal-dialog modal-lg")
		div(class="modal-content")
			div(class="background")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
					h4(class="modal-title") Мастер классы
					ul(class="nav nav-tabs" id='masterClassNav')
						li(class="active")
							a(href="#fat" data-toggle="tab") Избыточная масса тела
						li
							a(href="#emo" data-toggle="tab") Креативная психотерапия
						li
							a(href="#neuro" data-toggle="tab") "Детские неврозы: проблемы и решения"	
						li
							a(href="#sport" data-toggle="tab") Участие в спорт. соревнованиях				
						li
							a(href="#timemanager" data-toggle="tab") "Тайм менеджмент"	
					div(class="tab-content")
						div(class="tab-pane active" id="fat") 
							iframe(src="//www.slideshare.net/slideshow/embed_code/key/v34dg0Afw84eq9" width="100%" height="500" style="height: 85vh;") Fat people
						div(class="tab-pane" id="emo") 
							iframe(src="//www.slideshare.net/slideshow/embed_code/key/pSfp3imzdAC2JB" width="100%" height="500" style="height: 85vh;") Creative psychotherapy of emotional disorders
						div(class="tab-pane" id="neuro")
							iframe(src="//www.slideshare.net/slideshow/embed_code/key/h8prKi8bQNhEvI" width="100%" height="500" style="height: 85vh;") Children's neuroses
						div(class="tab-pane" id="sport")
							iframe(src="//www.slideshare.net/slideshow/embed_code/key/zniSoW0i7QPIKY" width="100%" height="500" style="height: 85vh;") sport competitions
						div(class="tab-pane" id="timemanager")
							iframe(src="//www.slideshare.net/slideshow/embed_code/key/KMjEvKaoRiYQZx" width="100%" height="500" style="height: 85vh;") time management
