div(class="modal fade bs-problemOfActivity-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
	div(class="modal-dialog modal-lg")
		div(class="modal-content")
			div(class="background")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
					h4(class="modal-title") Учителя и врачи обсудят проблемы подавления психической активности личности
				object(type="application/pdf" data="assets/pdf/problems_of_suppressing_the_mental_activity.pdf" width="100%" height="500" style="height: 85vh;") No Support