div(class="modal fade bs-social-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
	div(class="modal-dialog modal-lg")
		div(class="modal-content")
			div(class="background")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
					h4(class="modal-title")  Социальные сети
