div(class="modal fade bs-social-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
	div(class="modal-dialog modal-lg")
		div(class="modal-content")
			div(class="background")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
					h4(class="modal-title")  
					ul(class="list-group flex-container-social")
						a(href="mailto:ledinu@mail.ru" target='blank')
							li(class='list-group-item flex-item-social icon-email')
						a(href="https://vk.com/id34809915" target='blank')
							li(class='list-group-item flex-item-social icon-vk')
						a(href="https://ok.ru/profile/308607430225" target='blank')
							li(class='list-group-item flex-item-social icon-odnoklassniki-logo'						)
						a(href="https://ru.linkedin.com/in/наталья-ларькина-3b00187a" target='blank')
							li(class='list-group-item flex-item-social icon-linkedin')
						a(href="viber://add?number=79129216022")
							li(class='list-group-item flex-item-social icon-viber')
						a(href="whatsapp://send?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82%D1%81%D1%82%D0%B2%D1%83%D1%8E.&phone=+79129216022")
							li(class='list-group-item flex-item-social icon-whatsapp ')