/* ---------------------------- General Style -----------------------------*/
/* ------------------------ var and mixins ------------------------ */
/* ------------------------ animation ------------------------*/
@import url(component.css);
@import url(demo.css);
@import url(jquery.timepicker.css);
@import url(style.css);
@keyframes move {
  from {
    padding-right: 0px; }
  to {
    padding-right: 200px; } }

@keyframes color {
  from {
    color: #CE8932;
    padding-left: 0; }
  to {
    color: white;
    padding-left: 45%; } }

@keyframes buttonOrder1 {
  from {
    left: 50%; }
  to {
    left: 30%; } }

@keyframes buttonOrder2 {
  from {
    left: 50%; }
  to {
    left: 50%; } }

@keyframes buttonOrder3 {
  from {
    left: 50%; }
  to {
    left: 75%; } }

@keyframes buttonOrderBack1 {
  from {
    left: 50%; }
  to {
    left: 30%; } }

@keyframes buttonOrderBack2 {
  from {
    left: 30%; }
  to {
    left: 50%; } }

@keyframes buttonOrderBack3 {
  from {
    left: 50%; }
  to {
    left: 75%; } }

@keyframes buttonOrderForw1 {
  from {
    left: 50%; }
  to {
    left: 30%; } }

@keyframes buttonOrderForw2 {
  from {
    left: 75%; }
  to {
    left: 50%; } }

@keyframes buttonOrderForw3 {
  from {
    left: 50%; }
  to {
    left: 75%; } }

/* Global style */
* {
  font-family: "GothamProBold";
  color: #FFF; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  overflow-y: hidden; }

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.5; }

body {
  position: relative; }

h1, h2, h3, h4 {
  margin-bottom: 0rem; }

h1 {
  font-size: 2.5rem;
  margin-top: 0;
  line-height: 1.1; }

h2 {
  font-size: 2rem; }

ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0rem; }
  ul li {
    list-style-type: none; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: black; }

audio, cavas, iframe, img, svg, video {
  vertical-align: middle; }

textarea {
  resize: none; }

section {
  position: relative; }

input, select, button {
  outline: none; }

.hide {
  display: none; }

.show {
  display: block; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

/* just header and footer styles */
/* ------------------------ header -------------------------------- */
header .navbar .container {
  font-size: 1.5em; }
  header .navbar .container .navbar-toggle:focus {
    background-color: black; }
  header .navbar .container button, header .navbar .container .btn-primary {
    background-color: #CE8932;
    border-color: transparent;
    margin-top: 2%; }
    header .navbar .container button:hover, header .navbar .container .btn-primary:hover {
      border-color: #FFF;
      border-width: thin; }
    header .navbar .container button:active, header .navbar .container button :focus, header .navbar .container .btn-primary:active, header .navbar .container .btn-primary :focus {
      border-color: #FFF;
      outline: none;
      background-color: #d8a15b; }

.tel-to-call {
  position: absolute;
  left: 60%; }
  .tel-to-call a {
    color: #FFF;
    font-size: 2em; }

#scroll-menu {
  text-align: center; }
  #scroll-menu li .btn-primary {
    margin-top: 5%; }

.ui-datepicker-buttonpane.ui-widget-content button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all {
  width: 100%;
  margin-left: 0; }

.ui-timepicker-container.ui-timepicker-no-scrollbar.ui-timepicker-standard.ui-helper-hidden.ui-timepicker-hidden {
  display: block; }

/* ------------------------ footer -------------------------------- */
/* styles */
section .slick-dots {
  top: 100px; }
  section .slick-dots li {
    margin: 0 -3px;
    height: 50%; }

.slick-dots {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      width: 35px;
      height: 10px;
      padding: 5px;
      border-radius: 50px;
      cursor: pointer;
      border: 3px solid #FFF;
      outline: none;
      background: transparent; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: ' ';
        text-align: center;
        opacity: .25;
        color: black; }
    .slick-dots li.slick-active button:before {
      margin-left: 7.5px;
      margin-top: 7px;
      opacity: 1;
      font-size: 0;
      line-height: 0;
      width: 35px;
      height: 10px;
      padding: 5px;
      border-radius: 50px;
      cursor: pointer;
      border: 3px solid #FFF;
      outline: none;
      background-color: #FFF; }

.typed-cursor {
  opacity: 0;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

/* -----------  special CONTENT for lighten and radken fon-image ---------- */
.element-1:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1; }

.element-2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1; }

.element-3:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1; }

.element-4:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1; }

.element-5:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1; }

/* -----------------------------------  modal ----------------------------- */
.modal-content {
  background-color: transparent; }
  .modal-content .background {
    background-color: transparent; }

.modal-header {
  background-color: #CE8932; }
  .modal-header .close {
    margin-top: 1vh; }
  .modal-header h4 {
    color: #FFF;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center; }

form.navbar-form {
  font-size: 1.5em;
  display: table;
  margin: 3% auto; }
  form.navbar-form .input-group .form-control {
    margin-bottom: 1%;
    font-size: 1.3em;
    text-align: center;
    height: 7vh;
    border-radius: 0; }
    form.navbar-form .input-group .form-control:hover {
      border-color: #CE8932; }
    form.navbar-form .input-group .form-control:focus, form.navbar-form .input-group .form-control :active {
      border-color: #CE8932; }
  form.navbar-form .btn {
    font-size: 1.7em;
    background-color: #CE8932;
    margin-bottom: 3%;
    min-width: 55%; }
    form.navbar-form .btn:hover {
      color: #FFF;
      border-color: #FFF;
      border-width: thin; }
    form.navbar-form .btn:active, form.navbar-form .btn :focus {
      background-color: #d8a15b;
      border-color: #FFF;
      outline: none; }

#btn-consultation:focus {
  color: #FFF;
  outline: none; }

.ui-datepicker-inline {
  margin: auto; }

.ui-datepicker-inlin {
  margin: 3% 0% 3% 0%;
  color: #272822; }

.ui-datepicker-calendar {
  background-color: #CE8932;
  border-radius: 1%; }

.ui-datepicker table {
  margin: 1% 0 .4em; }

.alert {
  margin-bottom: 3%;
  text-align: center; }

.alert-success {
  margin-top: 3%; }

.ui-timepicker-container {
  left: 2%;
  /* margin-left: -13vh; */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #FFF;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* ------------------------  Section navbar menu -------------------------- */
.navbar-inverse {
  opacity: 0.6; }
  .navbar-inverse:active, .navbar-inverse :focus {
    outline: none; }

.navbar-nav {
  margin: 10px; }

.navbar-toggle {
  padding: 18px; }

#scroll-menu {
  left: -203%px; }

/* ------------------------  Section secion-main -------------------------- */
section#seciton-main .section__subtitle:hover {
  font-size: 9.5em;
  font-weight: bolder; }

/* ------------------------  Section video_start ------------------------- */
section#video-slide {
  width: 100%;
  margin-bottom: -3%;
  z-index: 2; }
  section#video-slide:active, section#video-slide :focus {
    outline: none; }

video {
  width: 100%;
  border-bottom-right-radius: 950px 47px;
  border-bottom-left-radius: 900px 47px; }

/* ------------------------  Section mission_start ----------------------- */
section#mission {
  border-bottom-right-radius: 950px 47px;
  border-bottom-left-radius: 900px 47px;
  z-index: 0;
  line-height: 45px; }

#my_mission {
  color: #CE8932;
  z-index: 99;
  line-height: 60px;
  font-size: 75px;
  max-width: 500px;
  text-align: center;
  position: absolute;
  margin-top: 4%;
  left: 50%;
  margin-left: -250px;
  font-weight: bold; }

#my_mission_text {
  color: #CE8932;
  z-index: 99;
  line-height: 40px;
  font-size: 50px;
  max-width: 700px;
  text-align: center;
  position: absolute;
  margin-top: 15%;
  left: 50%;
  margin-left: -350px; }

.flex-container {
  display: flex;
  height: 905px; }
  .flex-container .flex-element {
    flex-grow: 1;
    z-index: 0; }
    .flex-container .flex-element p {
      position: relative;
      padding-top: 452.5px;
      font-size: 50px;
      text-align: center;
      color: #FFF;
      z-index: 1; }

.element-1 {
  background-image: url(../img/basic/1-light.jpg);
  transition: background-image 1s linear;
  background-repeat: no-repeat;
  background-size: cover; }
  .element-1:hover {
    z-index: 5; }
    .element-1:hover:before {
      transition: all 1s ease;
      display: none; }
  .element-1 .button-order {
    position: absolute;
    z-index: 6;
    top: 85%; }

.element-2 {
  background-image: url(../img/basic/2-light.jpg);
  transition: background-image 1s linear;
  background-repeat: no-repeat;
  background-size: cover; }
  .element-2:hover {
    z-index: 5; }
    .element-2:hover:before {
      transition: all 1s ease;
      display: none; }
  .element-2 .button-order {
    position: absolute;
    z-index: 6;
    top: 85%; }

.element-3 {
  background-image: url(../img/basic/3-light.jpg);
  transition: background-image 1s linear;
  background-repeat: no-repeat;
  background-size: cover; }
  .element-3:hover {
    z-index: 5; }
    .element-3:hover:before {
      transition: all 1s ease;
      display: none; }
  .element-3 .button-order {
    position: absolute;
    z-index: 6;
    top: 85%; }

.element-1 .button-order {
  animation-name: buttonOrder1;
  animation-duration: 1s; }

.element-2 .button-order {
  animation-name: buttonOrder2;
  animation-duration: 1s; }

.element-3 .button-order {
  animation-name: buttonOrder3;
  animation-duration: 1s; }

.element-1 .order-back {
  animation-name: buttonOrderBack1;
  animation-duration: 1s; }

.element-2 .order-back {
  animation-name: buttonOrderBack2;
  animation-duration: 1s; }

.element-3 .order-back {
  animation-name: buttonOrderBack3;
  animation-duration: 1s; }

.element-1 .order-forw {
  animation-name: buttonOrderForw1;
  animation-duration: 1s; }

.element-2 .order-forw {
  animation-name: buttonOrderForw2;
  animation-duration: 1s; }

.element-3 .order-forw {
  animation-name: buttonOrderForw3;
  animation-duration: 1s; }

.element-1 .button-order {
  left: 30%; }

.element-2 .button-order {
  left: 50%; }

.element-3 .button-order {
  left: 75%; }

/* ------------------------  button-call migrate --------------------- */
.button button {
  width: 475px;
  height: 100px;
  border-radius: 80px;
  margin-bottom: 10px;
  color: #FFF;
  font-size: 37.5px;
  font-weight: bold;
  border-width: 0px; }
  .button button:active {
    border-width: 0px;
    border-color: transparent; }

.button-order {
  z-index: 99; }
  .button-order button.btn-primary {
    background-color: #CE8932;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 86%;
    margin-left: -237.5px;
    line-height: 30px;
    padding: 20px 10px;
    letter-spacing: -2px;
    outline: none; }
    .button-order button.btn-primary:hover {
      border-color: #FFF;
      border-width: thin; }
    .button-order button.btn-primary:active, .button-order button.btn-primary :focus {
      outline: none;
      background-color: #d8a15b; }

/* ------------------------  Section social life ----------------------- */
section.section.section--intro h3 {
  font-size: 1.5em; }

section.section.section--intro p.section__subtitle {
  margin-top: -2%; }

section.interval#romeo .grid #RomeoCityConference figcaption h2 {
  margin-top: 13%; }

/* ------------------------  Section sciense ----------------------- */
/* ------------------------  Section why-us ----------------------- */
section#contacts {
  margin: 2% 0 5% 0; }

/* ------------------------  Section portfolio_start --------------------- */
@media (min-width: 992px) {
  .element-1 {
    background-image: url(../img/basic/1-light.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    .element-1:hover {
      background-image: url(../img/basic/1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding-right: 200px;
      animation-name: move;
      animation-duration: 2s; }
      .element-1:hover:before {
        display: none; }
      .element-1:hover p {
        animation-name: color;
        animation-duration: 1s;
        color: white;
        padding-left: 45%; }
  .element-2 {
    background-image: url(../img/basic/2-light.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    .element-2:hover {
      background-image: url(../img/basic/2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding-right: 200px;
      animation-name: move;
      animation-duration: 2s; }
      .element-2:hover:before {
        display: none; }
      .element-2:hover p {
        animation-name: color;
        animation-duration: 1s;
        color: white;
        padding-left: 45%; }
  .element-3 {
    background-image: url(../img/basic/3-light.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    .element-3:hover {
      background-image: url(../img/basic/3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding-right: 200px;
      animation-name: move;
      animation-duration: 2s; }
      .element-3:hover:before {
        display: none; }
      .element-3:hover p {
        animation-name: color;
        animation-duration: 1s;
        color: white;
        padding-left: 45%; } }

/* ------------------------  Section mission_start --------------------- */
@media (max-width: 992px) {
  .slick-dots {
    display: none !important; }
  .flex-container {
    flex-direction: column;
    height: 2025px; }
    .flex-container .flex-element p {
      font-size: 5em;
      line-height: 60px;
      padding-top: 506.25px;
      color: #FFF; }
    .flex-container .element-3 {
      order: -1; }
    .flex-container .element-2 {
      order: -2; }
  .element-1 {
    background-image: url(../img/basic/1.jpg);
    background-repeat: no-repeat; }
    .element-1:hover {
      transform: translate3d(0, 0, 0);
      transition: opacity 0.55s, transform 0.35s;
      opacity: 0.7; }
  .element-1:before {
    display: none; }
  .element-2 {
    background-image: url(../img/basic/2.jpg);
    background-repeat: no-repeat; }
    .element-2:hover {
      transform: translate3d(0, 0, 0);
      transition: opacity 0.55s, transform 0.35s;
      opacity: 0.7; }
  .element-2:before {
    display: none; }
  .element-3 {
    background-image: url(../img/basic/3.jpg);
    background-repeat: no-repeat; }
    .element-3:hover {
      transform: translate3d(0, 0, 0);
      transition: opacity 0.55s, transform 0.35s;
      opacity: 0.7; }
  .element-3:before {
    display: none; }
  .element-4 {
    background-image: url(../img/basic/4.jpg);
    background-repeat: no-repeat; }
    .element-4:hover {
      transform: translate3d(0, 0, 0);
      transition: opacity 0.55s, transform 0.35s;
      opacity: 0.7; }
  .element-4:before {
    display: none; }
  .element-5 {
    background-image: url(../img/basic/5.jpg);
    background-repeat: no-repeat; }
    .element-5:hover {
      transform: translate3d(0, 0, 0);
      transition: opacity 0.55s, transform 0.35s;
      opacity: 0.7; }
  .element-5:before {
    display: none; }
  #my_mission_text {
    margin-top: 40vh; } }

@media (max-width: 768px) {
  #scroll-menu li .btn-primary {
    margin-top: 1.5%; }
  header .navbar .container button {
    margin-top: 1.5%; }
  .tel-to-call {
    left: 25vw;
    top: 15%; }
    .tel-to-call a {
      font-size: 1.6em; } }

@media (max-width: 480px) {
  .flex-container {
    height: 1625px; }
    .flex-container .flex-element p {
      padding-top: 162.5px; } }

/* TODO adaptive */
/* ------------------------  Modal ----------------------- */
#masterClassNav, #presentationsNav {
  font-size: 1.35em; }
