section#contacts.why-us
	.container
		.row
			.col-md-12.text-center.section-intro
				h2.header-boxed.wow.zoomIn(data-wow-iteration='1')
					span Контакты
				p.lead.wow.fadeInUp(data-wow-delay='600ms') Как со мной связаться 
			.col-md-12.highlight-boxes
				.col-md-4.wow.fadeInLeft(data-wow-delay='500ms')
					.featured-content-box.text-center
						i(class="tn-heart ico-lg text-warning")
						h3 Confucius Says
						p Never study for others what you would not capture for the freedom of it.
						button.btn.btn-warning(data-toggle="modal" data-target=".bs-example-modal-lg") Read More
				.col-md-4.wow.zoomIn(data-wow-delay='100ms')
					.featured-content-box.text-center
						i(class="tn-server ico-lg text-info")
						h3 Confucius Says
						p Never study for others what you would not capture for the freedom of it.
						button.btn.btn-info(data-toggle="modal" data-target=".bs-example-modal-lg") Read More
				.col-md-4.wow.fadeInRight(data-wow-delay='500ms')
					.featured-content-box.text-center
						i(class="tn-anchor ico-lg text-success")
						h3 Confucius Says
						p Never study for others what you would not capture for the freedom of it.
						button.btn.btn-primary(data-toggle="modal" data-target=".bs-example-modal-lg") Read More
				.col-md-4.wow.fadeInUp
					.featured-content-box.text-center
						i(class="tn-agenda ico-lg text-danger")
						h3 Confucius Says
						p Never study for others what you would not capture for the freedom of it.
						button.btn.btn-danger(data-toggle="modal" data-target=".bs-example-modal-lg") Read More
				.col-md-4.wow.fadeInUp(data-wow-delay='300ms')
					.featured-content-box.text-center
						i(class="tn-headphone ico-lg text-warning")
						h3 Confucius Says
						p Never study for others what you would not capture for the freedom of it.
						button.btn.btn-warning(data-toggle="modal" data-target=".bs-example-modal-lg") Read More
				.col-md-4.wow.fadeInUp(data-wow-delay='600ms')
					.featured-content-box.text-center
						i(class="tn-dashboard ico-lg text-info")
						h3 Confucius Says
						p Never study for others what you would not capture for the freedom of it.
						button.btn.btn-info(data-toggle="modal" data-target=".bs-example-modal-lg") Read More