section(id="mission")
	h1(id="my_mission" class="wow fadeInDown" data-wow-delay="200ms" data-wow-duration="3.5s") 
	h1(id="my_mission_text" class="wow fadeInDown" data-wow-delay="100ms" data-wow-duration="2.5s") 
	div(class="flex-container")
		div(class="flex-element element-1")
			p 
		div(class="flex-element element-2")
			p 
		div(class="flex-element element-3")
			p 
	div(class="button button-order visible-md visible-lg")
		button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg") 
