section(id="mission")
	h1(id="my_mission" class="wow fadeInDown" data-wow-delay="100ms" data-wow-duration="3.5s") Моя МИССИЯ
	div(class="flex-container")
		div(class="flex-element element-1")
			p loremxdrtxdrt
		div(class="flex-element element-2")
			p loremЬdrtxdrt
		div(class="flex-element element-3")
			p loremdxtrxdtxdrt
	div(class="button button-order")
		button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg") КОНСУЛЬТАЦИЯ
