section(id="mission")
	div(class="sl" id="sl-news")
		div(class="sl-slide-news")
			div(class="slide-news")
				a(href="#")
					span(class="slide-news-text")
						h3 Lorem ipsum dolor sit amet, 
						p consectetur adipisicing elit, sed do eiusmod			
			div(class="slide-news")
				a(href="#")
					span(class="slide-news-text")
						h3 tempor incididunt ut labore et dolore
						p magna aliqua. Ut enim ad minim veniam,
			div(class="slide-news")
				a(href="#")
					span(class="slide-news-text")
						h3 quis nostrud exercitation ullamco
						p laboris nisi ut aliquip ex ea commodo