section(id="portfolio")
	h1(id="our_portfolio") PORTOFOLIO
	div(class="flex-container")
	div(class="flex-element element-1")
		p loremxdrtxdrt
	div(class="flex-element element-2")
		p loremЬdrtxdrt
	div(class="flex-element element-3")
		p loremdxtrxdtxdrt
	div(class="flex-element element-4")
		p loremdtxdtr
	div(class="flex-element element-5")
		p loremfghxdfg
	div(class="button button-order")
		button(class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg") ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ