section.section.section--cards
	h2.section__heading Семинары
	p.section__subtitle
		| It is to this violence of the rain that we must attribute the verdure at the bottom of the thickest woods.
	.isolayer.isolayer--deco3
		ul.grid
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
			li.grid__item
				a.grid__link(href='#')
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
					.layer
						span.decoletter A
						span.deconumber 23
section.interval
	p.interval__text
		| Isometric projection is a method for visually representing three-dimensional objects in two dimensions in technical and engineering drawings.