section.section.section--right.section--portraits(id='secion-main')
	h2.section__heading(class="wow fadeInDown" data-wow-delay="100ms" data-wow-duration="3.5s")
		| Архитектор своей реальности
	p.section__subtitle(class="wow bounceInRight" data-wow-delay="200ms" data-wow-duration="3.5s")
		| Even whilst the arched or doubled hypocotyl is still beneath the ground, it circumnutates as much as the pressure of the surrounding soil will permit.
	.isolayer.isolayer--deco2
		ul.grid
			each m in rightDeco2
				+third-deco(m, m)

section.interval(id="grid")
	div(class="grid")
		figure(class="effect-layla")
			img(src="assets/img/layer/1.jpg" alt="img06")
			figcaption
				h2 Crazy
					span Layla
				p When Layla appears, she brings an eternal summer along.
				a(href="#") View more
		figure(class="effect-layla")
			img(src="assets/img/layer/2.jpg" alt="img03")
			figcaption
				h2 Crazy
					span Layla
				p When Layla appears, she brings an eternal summer along.
				a(href="#") View more