section.section.section--intro
	h2.section__heading(class="wow rotateInDownLeft" data-wow-delay="300ms") 
	h3.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="250ms") 
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="200ms") 
	h3.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="150ms") 
	h3.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="100ms") 
	.isolayer.isolayer--deco1.isolayer--shadow
		ul.grid
			each m in rightDecoIntro
				+first-deco(m, '')
section.interval(id="romeo")
	div(class="grid")
		figure(class="effect-romeo" id="effect-romeo1")
			img(src="assets/img/deco/inter-1_2.jpg" alt="img09")
			figcaption
		figure(class="effect-romeo" id="RomeoCityConference")
			img(src="assets/img/deco/inter-2_2.jpg" alt="img10")
			figcaption