section.section.section--shots.section--right(id="sciense")
	h2.section__heading
		| Научная работа
	p.section__subtitle
		| To raise new questions, new possibilities, to regard old problems from a new angle, requires creative imagination and marks real advance in science.
	.isolayer.isolayer--deco4
		ul.grid
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/1.png', alt='01')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/2.png', alt='02')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/3.png', alt='03')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/4.png', alt='04')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/5.png', alt='05')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/6.png', alt='06')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/7.png', alt='07')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/8.png', alt='08')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/9.png', alt='09')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/10.png', alt='10')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/1.png', alt='01')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/2.png', alt='02')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/3.png', alt='03')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/4.png', alt='04')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/5.png', alt='05')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/6.png', alt='06')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/7.png', alt='07')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/8.png', alt='08')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/9.png', alt='09')
			li.grid__item
				a.grid__link(href='https://dribbble.com/fuviz')
					.layer
					.layer
					.layer
					img.grid__img.layer(src='img/Dribbble/10.png', alt='10')
