section.section.section--right.section--portraits
	h2.section__heading
		| Celebration 
		em of
		|  Shapes
	p.section__subtitle
		| Even whilst the arched or doubled hypocotyl is still beneath the ground, it circumnutates as much as the pressure of the surrounding soil will permit.
	.isolayer.isolayer--deco2
		ul.grid
			+third-deco(2)
			+third-deco(1)
			+third-deco(5)
			+third-deco(6)
			+third-deco(3)
			+third-deco(8)
			+third-deco(9)
			+third-deco(7)
			+third-deco(11)
			+third-deco(4)
			+third-deco(10)
			+third-deco(2)


section.interval
	p.interval__text
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
