section.interval
	.grid
		figure.effect-oscar
			img(src='assets/img/sciense/inter-2_3.jpg', alt='inter2')
			figcaption
				h2
					| РИНЦ:
					span 17
				p АНАЛИЗ ПУБЛИКАЦИОННОЙ АКТИВНОСТИ
				|  
				a(href='http://elibrary.ru/author_profile.asp?id=365326' target='blank')
		figure.effect-oscar
			img(src='assets/img/sciense/inter-1_3.jpg', alt='inter1')
			figcaption
				h2
					| Индекс Хирша:
					span  4
				p СПИСОК МОИХ ПУБЛИКАЦИЙ
				|  
				a(href='http://elibrary.ru/author_items.asp?authorid=365326' target='blank')
section.section.section--shots.section--right(id="sciense")
	h2.section__heading(class="wow rotateInDownRight" data-wow-delay="300ms")
		| Научная работа
	p.section__subtitle(class="wow rotateInDownRight" data-wow-delay="100ms")
		| Сфера научных интересов:
		|	Привычная двигательная активность детей и подростков;
		|	Эмоциональная ригидность у лиц с низким уровнем привычной двигательной активности;
		|	Развитие эмоционального интеллекта;
		|	Формирование профессионального самоопределения обучающихся.
	.isolayer.isolayer--deco4
		ul.grid
			each m in scienseLenght
				+sciense-deco(m, m, '#')