section.section.section--right.section--portraits(id='secion-main')
	h2.section__heading(class="wow fadeInDown" data-wow-delay="100ms" data-wow-duration="3.5s")
		| Архитектор своей реальности
	p.section__subtitle(class="wow bounceInRight" data-wow-delay="200ms" data-wow-duration="3.5s")
		| Ларькина Наталья Юрьевна практикующий педагог-психолог
		| с 2011 г. - доцент каф. ГиСН
	.isolayer.isolayer--deco2
		ul.grid
			each m in rightDeco2
				+third-deco(m, m, '')
section.interval(id="grid")
	div(class="grid")
		figure(class="effect-layla")
			img(src="assets/img/basic/inter-1.jpg" alt="inter-1")
			figcaption
				h2 Для самых  
					span маленьких
				p Дошкольного образования  - залог успехов в школе
				a(href="http://bit.ly/2okt0aQ" target='blank') View more
		figure(class="effect-layla")
			img(src="assets/img/basic/inter-2.jpg" alt="inter-2")
			figcaption
				h2 Дети и 
					span подростки
				p Как изменилось мышление детей и подростков, и что с этим делать?
				a(href="http://bit.ly/2oXhAIR" target='blank') View more
