section.section.section--cards(id="education")
	h2.section__heading(class="wow rotateInDownLeft" data-wow-delay="300ms") Семинары
	h2(class="wow rotateInDownLeft" data-wow-delay="100ms") Студенты ОДО, ОЗО ППО института психологии и педагогики ТюмГУ
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="200ms")  "Роль педагога психолога в организации психологической службы"
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="180ms") Психолого-педагогические проблемы взаимодействия педагога с дошкольниками
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="160ms") Адаптация дошкольников к дошкольному учреждению
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="140ms") "Психологическая служба ОУ, ДОУ"
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="120ms") "Детские неврозы: проблемы и решения"
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="100ms") Креативная психотерапия
	.isolayer.isolayer--deco3
		ul.grid
			each m in rightDeco3
				+second-deco('Имя', 'название', m, m, modal[m])
