section.section.section--intro
	.isolayer.isolayer--deco1.isolayer--shadow
		ul.grid
			each m in rightDecoIntro
				+first-deco(m)

section.interval
	p.interval__text(class="wow zoomIn" data-wow-delay="100ms")
		| Axonometric projection is a type of parallel projection used for creating a pictorial drawing of an object, where the object is rotated along one or more of its axes relative to the plane of projection. 