section.section.section--intro
	h2.section__heading(class="wow rotateInDownLeft" data-wow-delay="300ms") Общественная жизнь
	.isolayer.isolayer--deco1.isolayer--shadow
		ul.grid
			each m in rightDecoIntro
				+first-deco(m)
section.interval(id="romeo")
	div(class="grid")
		figure(class="effect-romeo")
			img(src="assets/img/deco/inter-1_2.jpg" alt="img09")
			figcaption
				h2 Пресс-  
					span конференции
				p romeo is a decent man. He used to clean porches with pleasure.
				a(href="#") View more
		figure(class="effect-romeo")
			img(src="assets/img/deco/inter-2_2.jpg" alt="img10")
			figcaption
				h2 Публичные 
					span выступления
				p romeo is a decent man. He used to clean porches with pleasure.
				a(href="#") View more