section.interval
	.grid
		figure.effect-oscar( id="effect-oscar1")
			img(src='assets/img/sciense/inter-2_3.jpg', alt='inter2')
			figcaption
		figure.effect-oscar( id="effect-oscar2")
			img(src='assets/img/sciense/inter-1_3.jpg', alt='inter1')
			figcaption
section.section.section--shots.section--right(id="sciense")
	h2.section__heading(class="wow rotateInDownRight" data-wow-delay="300ms")
	p.section__subtitle(class="wow rotateInDownRight" data-wow-delay="100ms") 
	p.section__subtitle(class="wow rotateInDownRight" data-wow-delay="80ms") 
	p.section__subtitle(class="wow rotateInDownRight" data-wow-delay="60ms") 
	p.section__subtitle(class="wow rotateInDownRight" data-wow-delay="40ms") 
	p.section__subtitle(class="wow rotateInDownRight" data-wow-delay="20ms") 
	.isolayer.isolayer--deco4
		ul.grid
			each m in scienseLenght
				+sciense-deco(m, m, modal[m])