section.section.section--shots.section--right(id="sciense")
	h2.section__heading(class="wow rotateInDownRight" data-wow-delay="300ms")
		| Научная работа
	p.section__subtitle(class="wow rotateInDownRight" data-wow-delay="100ms")
		| To raise new questions, new possibilities, to regard old problems from a new angle, requires creative imagination and marks real advance in science.
	.isolayer.isolayer--deco4
		ul.grid
			each m in scienseLenght
				+sciense-deco(m, m, '#')


