section.section.section--intro
	.isolayer.isolayer--deco1.isolayer--shadow
		ul.grid
			each m in rightDecoIntro
				+first-deco(m)

section.interval(id="oscar")
	div(class="grid")
		figure(class="effect-oscar")
			img(src="assets/img/layer/3.jpg" alt="img09")
			figcaption
				h2 Warm 
					span Oscar
				p Oscar is a decent man. He used to clean porches with pleasure.
				a(href="#") View more
		figure(class="effect-oscar")
			img(src="assets/img/layer/4.jpg" alt="img10")
			figcaption
				h2 Warm 
					span Oscar
				p Oscar is a decent man. He used to clean porches with pleasure.
				a(href="#") View more