section.section.section--cards(id="education")
	h2.section__heading(class="wow rotateInDownLeft" data-wow-delay="300ms") Семинары
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="100ms")
		| It is to this violence of the rain that we must attribute the verdure at the bottom of the thickest woods.
	.isolayer.isolayer--deco3
		ul.grid
			each m in rightDeco3
				+second-deco('Имя', 'название', m, m, modal[m])
