section.section.section--cards(id="education")
	h2.section__heading(class="wow rotateInDownLeft" data-wow-delay="300ms") 
	h2(class="wow rotateInDownLeft" data-wow-delay="100ms") 
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="200ms") 
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="180ms") 
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="160ms") 
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="140ms") 
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="120ms") 
	p.section__subtitle(class="wow rotateInDownLeft" data-wow-delay="100ms") 
	.isolayer.isolayer--deco3
		ul.grid
			each m in rightDeco3
				+second-deco('Имя', 'название', m, m, modal[m])