section.section.section--right.section--portraits(id='section-main')
	h1.section__heading(class="wow fadeInDown" data-wow-delay="100ms" data-wow-duration="3.5s")
	p.section__subtitle(class="wow bounceInRight" data-wow-delay="200ms" data-wow-duration="3.5s")
	.isolayer.isolayer--deco2
		ul.grid
			each m in rightDeco2
				+third-deco(m, m, '')
section.interval(id="grid")
	div(class="grid")
		figure(class="effect-layla" id="grid-effect-layla1")
			img(src="assets/img/basic/inter-1.jpg" alt="inter-1")
			figcaption
		figure(class="effect-layla" id="grid-effect-layla2")
			img(src="assets/img/basic/inter-2.jpg" alt="inter-2")
			figcaption